@import url('https://fonts.googleapis.com/css2?family=Abel&family=Akshar:wght@300..700&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Gravitas+One&family=Lexend+Tera:wght@100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";




.flex_between{
    @apply flex items-center justify-between
}

.flex_box{
   @apply flex items-center justify-center
}

.akshar{
    font-family: "Arsenal SC", serif;
}

.accardion_trans{
    transition: all 0.3s linear;
}


.carouse_lLine{
    @apply h-[5px] w-full bg-black
}


.order_btn {
    display: inline-block;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .order_btn:hover {
    background-color: #000000;
    color: white;
  }


  .menu_btn{
    @apply w-[50px] h-[50px] bg-[#4C4D4D] rounded-full border border-black cursor-pointer
  }