@import url("https://fonts.googleapis.com/css2?family=Abel&family=Akshar:wght@300..700&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Gravitas+One&family=Lexend+Tera:wght@100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import "tailwindcss";

.flex_between {
  @apply flex items-center justify-between;
}

.flex_box {
  @apply flex items-center justify-center;
}

.akshar {
  font-family: "Arsenal SC", serif;
}

.accardion_trans {
  transition: all 0.3s linear;
}

.carouse_lLine {
  @apply h-[5px] w-full bg-black;
}

.order_btn {
  display: inline-block;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 2px solid black;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.order_btn:hover {
  background-color: #000000;
  color: white;
}

.menu_btn {
  @apply w-[50px] h-[50px] bg-[#4C4D4D] rounded-full border border-black cursor-pointer;
}

.comment_rounded {
  border-radius: 0 30px 30px 30px;
}

.sign-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  padding: 0 30px;
}

.sign {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 40px;
  width: fit-content;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.icon {
  margin-right: 10px;
}

.text {
  font-family: "Jersey 10", serif;
  font-size: 30px;
  letter-spacing: 1px;
}

.strings {
  position: absolute;
  top: -20px;
  display: flex;
  gap: 100px;
}

.string {
  width: 2px;
  height: 61px;
  background-color: black;
}

@media screen and (max-width: 398px) {
  .strings {
    gap: 70px;
  }
}

.cart_menu_btn {
  @apply bg-black text-lg text-white h-[50px] w-[80%] mt-6 rounded-3xl;
}

.form_parent_shadow {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
